<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>AMS | Failed</title>

<link rel="icon" type="image/png" th:href="@{/img/favicon.ico}" />
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{/css/fonts-google-apis.css}" rel="stylesheet"
	type="text/css">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.css}" rel="stylesheet" type="text/css">
<style>
.glow {
	color: #fff;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@
-webkit-keyframes glow {from { text-shadow:005px#fff, 0010px#fff, 0020px#e60073,
	0030px#e60073, 0040px#e60073, 0050px#e60073, 0060px#e60073;
	
}

to {
	text-shadow: 0 0 10px #fff, 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px
		#ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6;
}
}
</style>

</head>

<body class="">
	<div class="">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#"> <img
				th:src="@{/img/undraw_make_it_rain_iwk4.svg}" width="100"
				height="30" class="d-inline-block align-top" alt=""> <span
				class="glow">Aadhar Card Management System</span>
			</a>

			<!-- <div class="form-inline my-2 my-lg-0 ml-auto">
				<a th:href="@{/login}" class="btn btn-outline-info my-2 my-sm-0">
					<span class="spinner-grow spinner-grow-sm"></span> Login
				</a> &nbsp; <a th:href="@{/signupform}"
					class="btn btn-outline-info my-2 my-sm-0">Sign Up</a>
			</div> -->

		</nav>
	</div>

	<div class="container mt-1">

		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-failed-image"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-success-900 mb-4 text-danger">Failed!</h1>
									</div>
									<div class="text-center">
										<h3 class="h4 text-info-900 mb-4 text-info">Registration
											Failed !!</h3>
										<h5 class="h4 text-grey-900 mb-4 text-dark">Please try to login with different mail id.</h5>
									</div>
									<hr>
									<div class="text-center justify-content-center">
										<div class="form-inline my-2 my-lg-0 ml-auto justify-content-center">
											<a th:href="@{/login}"
												class="btn btn-outline-primary my-2 my-sm-0">Login
											</a> &nbsp; <a th:href="@{/signupform}"
												class="btn btn-outline-primary my-2 my-sm-0">Sign Up</a>
										</div>
									</div>
									<br>
									<div class="text-center">
										<a th:href="@{/}" class="btn btn-primary btn-circle"> <i
											class="fab fa-hackerrank"></i>
										</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>


	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>
